<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}">
            
        {% endblock %}
    
        {% block javascripts %}
    
      
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
